.shirtscolection {
	
	width: 300px;
	padding: 2%;

}

.descripcionproducto p {

	font-family: "Heebo", sans-serif;
	font-weight: lighter;
	color: white;
	font-size: 12px;
	box-sizing: 10%;
	}

	.tienda {
		padding: 3%;
		display: grid;
		grid-template-columns: repeat(3, 1fr); 
		grid-column-gap: 1%;
		background-size: cover;
		
		

	}