.shirtscolection {
	
	width: 300px;
	padding: 2%;

}

.descripcionproducto  {

	h5 {
		padding: 5%;
		font-weight: bold;
	}

	p {

		font-family: "Heebo", sans-serif;
		font-weight: lighter;
		color: white;
		font-size: 12px;
		box-sizing: 10%;
		padding: 3%;
	
		
		}

		.precio {
			font-weight: bold;
			font-size: 14px;
			padding: 0%;
		}
}




	.tienda {
		padding: 5%;
		background-size: cover;
		
		

	}